* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#root {
    font-family: 'Roboto', sans-serif;
}

.header {
    /* display: flex;
    justify-content: center; */
    background-color: #303036;
    width: auto;
    height: 5rem;

    margin-bottom: 11rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('https://wallpapercave.com/wp/wp2639566.jpg');
    /* below is ring wallpaper */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('https://cdn.wallpaper.com/main/2017/08/bxr-boxinggym-hd-4.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    background-position: center;
    background-attachment: fixed;
}

.header-text {
    width: 20rem;
    margin-left: 2rem;
    font-size: 25px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 1rem;
    color: #ffd60a;
    margin-top: 0.5rem;
}

.login-header {
    color: white;
    padding: 10px;
    margin-top: 0.5rem;
    margin-right: 2rem;
    transition: padding .1s ease-out;
}

.login-header:hover {
    padding-top: 8px;
    color: #ffd60a;
}

.header-text:hover {
    cursor: pointer;
}

.f-text {
    font-size: larger;

}

.t-text {
    font-size: larger;
}

.info-box {
    color: #ffd60a;
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: auto;
    margin-top: 15rem;
}

.info-header {
    width: 20rem;
    margin: auto;
    height: 5rem;
    text-align: center;
    font-size: 70px;
}

.info-ptag {
    width: 29rem;
    margin: auto;
    margin-top: 3rem;
    text-align: center;

}


.main-page {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    flex-direction: column;

}


.input-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 21rem;
    /* background-color: #303036; */
    padding-left: 40px;

    padding-top: 10px;
}

.input-new-text {
    margin-bottom: 10px;
    color: #ffd60a;
    background: #303036;
    padding-left: inherit;

}

.input-add-btn {
    width: 5rem;
    height: 2rem;
    background: #303036;
    color: #ffd60a;
    text-align: center;
    margin-top: 1rem;
    padding: 5px;
    transition: .2s ease-out;
    margin-left: 4rem;
}

.input-add-btn:hover {
    cursor: pointer;
    background: #ffd60a;
    color: #303036;
    width: 5.1rem;
    height: 2.1rem;

}



.input-box {
    display: flex;
    width: 15rem;
    flex-direction: column;

}

#input-box-new {
    border: none;
    color: #303036;
    border-radius: 0;
    background:
        linear-gradient(90deg, #303036, #303036) left bottom/100% 2px no-repeat;
    border-bottom-color: #303036;
    width: 200px;
    outline: none;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    padding: 1px;
}


.label-text-input {
    color: #303036;
}




.field {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: auto;
    height: 4rem;
}



.log-container {
    display: flex;
    flex-direction: column;
    width: 56rem;
    height: 30rem;
    overflow: auto;
    border-bottom: 1px solid;
}

.log-header {
    width: 55rem;
    text-align: center;
    background: #303036;
    color: #ffd60a;

}

.log-box {
    display: flex;
    margin: 7px;
    color: #ffd60a;
    width: 54rem;
    padding-left: 10px;
    justify-content: space-between;
    transition: .1s ease;
}

.log-box:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.log-text-display {
    color: #303036;

}


.log-btn {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}


.log-text {
    margin: 5px;
    color: #303036;
}


.edit-btn {
    width: 4rem;
    margin: 5px;
    background: #303036;
    color: #ffd60a;
    transition: .2s ease-out;

}

.delete-btn {
    width: 4rem;
    margin: 5px;
    background: #303036;
    color: #ffd60a;
    transition: .2s ease-out;

}

.edit-btn:hover {
    cursor: pointer;

    background: #ffd60a;
    color: #303036;
}

.delete-btn:hover {
    cursor: pointer;

    color: #ae2012;
    background: #ffd60a;

}



.popup-box {
    width: 30rem;
    color: #ffd60a;
    margin: auto;
    height: 20rem;
}

.popup-form {
    margin: auto;
    color: #303036;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 15rem;
    justify-content: space-evenly;
}

.pop-input {
    border: none;
    color: #303036;
    border-radius: 0;
    background: linear-gradient(90deg, #303036, #303036) left bottom/100% 2px no-repeat;
    border-bottom-color: #303036;
    width: fit-content;
    outline: none;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    padding: 1px;
}

.pop-btn {
    width: 8.5rem;
    display: flex;
    justify-content: space-between;
}


.update-btn {
    margin-left: 15px;
    width: 2rem;
    background: #303036;
    color: #ffd60a;
    transition: .3s ease-out;
}

.close-edit-btn {
    margin-left: 15px;
    width: 2rem;
    background: #303036;
    color: #ffd60a;
    transition: .3s ease-out;
}

.update-btn:hover {
    cursor: pointer;
    background: #ffd60a;
    color: #303036;

}

.close-edit-btn:hover {
    cursor: pointer;
    background: #ffd60a;
    color: #303036;
}


.error-text {
    color: #ae2012;
}

.edit-error {
    color: #ae2012;
    width: 7rem;
    margin-left: 8rem;
}

input.input-error,
select.input-error {
    border-color: red;
}

.log-container::-webkit-scrollbar {
    width: 8px;

}


.log-container::-webkit-scrollbar-thumb {
    /* background: #ffd60a;
    border-radius: 100vw;
    border: 1px solid #303036; */
}


.log-container::-webkit-scrollbar-track {
    /* border-radius: 100vw;
    background: #303036; */


}

.lti-container {
    display: flex;
    flex-direction: row;
    margin: 0rem auto;
    width: 50rem;
    justify-content: space-between;
}

.lti-box {
    width: 15rem;
    height: 15rem;
}

.lti-img {
    width: 8rem;
    height: 8rem;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
    border-radius: 90%;
}

.lti-header {
    width: 8rem;
    margin: 0rem auto;
    text-align: center;
}