* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('https://wallpaperaccess.com/full/1244688.jpg');
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.login-container {
    width: 15rem;
    height: 5rem;
    margin: 5rem auto;
}

.login-btn {
    width: 10rem;
    height: 3rem;
    margin: 1rem 2.5rem;
    font-size: 20px;
    background: #303036;
    color: #ffd60a;
    text-align: center;
    padding: 5px;
    transition: .2s ease-out;
}

.login-btn:hover {
    cursor: pointer;
    background: #ffd60a;
    color: #303036;
}


.form-box {
    width: 35rem;
    display: flex;
    height: 20rem;
    flex-direction: column;
    margin: 0rem auto;
    justify-content: space-around;
}

.loginPage-container {
    width: 35rem;
    height: 30rem;
    margin: 10rem auto;
    background-color: white;

}

.loginPage-text {
    width: 35rem;
    height: 4rem;
    margin: 0rem auto;
    text-align: center;
    padding-top: 1rem;
    background: #303036;
    color: #ffd60a;
}

.input-login {
    width: 20rem;
    margin: 0.5rem auto;
    height: 2rem;
    font-size: 18px;
}

.label-log {
    width: 5rem;
    margin-left: 7.6rem;
}

.btn-loginPage {
    width: 20rem;
    height: 3rem;
    margin: 0.5rem auto;
    font-weight: 700;
    font-size: 20px;
    background: #303036;
    color: #ffd60a;
    text-align: center;
    padding: 5px;
    transition: .2s ease-out;
}

.btn-loginPage:hover {
    cursor: pointer;
    background: #ffd60a;
    color: #303036;
}

.error-log {
    color: brown;
    width: 20rem;
    margin: 0rem auto;
}

.signUp-link {
    margin: auto;
    margin-top: 1rem;
    color: #303036;
}

.signUp-link:hover {
    text-decoration-color: #ffd60a;
}