.login-container {
    width: 15rem;
    height: 5rem;
    margin: 2rem auto;
}

.login-btn {
    width: 10rem;
    height: 3rem;
    margin: 1rem 2.5rem;
    font-size: 20px;
    background: #303036;
    color: #ffd60a;
    text-align: center;
    padding: 5px;
    transition: .2s ease-out;
}

.login-btn:hover {
    cursor: pointer;
    background: #ffd60a;
    color: #303036;
}