.user-page {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 10rem;
}


.name-date-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90rem;
    margin: 2rem auto;
}


.user-name {
    width: 20rem;
    text-align: left;
    margin: 2rem;
    padding: 1rem;
    padding-left: 0.2rem;
}

.date-text {
    width: 20rem;
    text-align: end;
    margin: 2rem;
    padding: 1rem;
    padding-right: 0rem;
}

.logout-btn {
    width: 5rem;
    background: #303036;
    color: #ffd60a;
    transition: all .3s ease-out;
    height: 2.5rem;
    position: absolute;
    right: 3rem;
    top: 0.5rem;
    font-size: 20px;
    border: none;
}

.logout-btn:hover {
    cursor: pointer;
    padding-bottom: 8px;
    border-bottom: 1px solid #ffd60a;
}

.noLogs-text {
    margin: auto;
    color: darkgrey;
}

.header-text2 {
    width: 20rem;
    margin-left: 2rem;
    font-size: 25px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 1rem;
    color: #ffd60a;
    margin-top: 0.5rem;
}